<div class="container">
  <h1>Magistry</h1>
  <h2>Magis + Tapestry: Your Robotic Help</h2>
  <br/>
  <%= semantic_form_for @intake_form do |f| %>
    <div class="form-questions">
      <div id="danger-question">
        <label>Do you feel like you're in danger?</label>
        <%= f.input :immediate_danger, label: false, as: :radio, collection: ["Yes!", "No"] %>
      </div>

        <div class="later-questions" id="name-question">
          <%= f.input :name, label: "What can I call you?" %>
        </div>
        <div class="later-questions" id="gender-question">
          <%# add name if there is time %>
          <p>GREAT TO MEET YOU. WE'D LIKE TO LEARN A LITTLE MORE ABOUT YOU SO WE CAN FIND THE BEST SERVICES FOR YOU. LET'S GET STARTED.</p>
          <%= f.input :gender, label: "Do you identify as", as: :select, collection: ["Male", "Female", "Other", "Prefer Not To Answer"] %>
        </div>
        <div class="later-questions" id="age-question">
          <%= f.input :age_range, label: "How old are you?", as: :select, collection: ["0-6 years old", "7-12 years old", "13-17 years old", "18+ years old"] %>
        </div>
        <div class="later-questions" id="location-question">
          <%= f.input :location, label: "Where are you right now?", as: :select, collection: ["St. Louis Metropolitan Area"] %>
        </div>
        <div class="later-questions" id="place-to-sleep-question">
          <%= f.input :place_to_sleep, label: "Do you have a place to sleep tonight?", as: :radio, collection: ["Yes", "No"] %>
        </div>
        <div class="later-questions" id="medical-attention-question">
          <%= f.input :needs_medical_attention, label: "Do you need medical or psychological help?", as: :select, collection: ["Yes, I have a medical emergency", "Yes, I need medical care but it is not an emergency", "No, I do not need medical care"] %>
        </div>
      </div>

    <%= f.submit "Show My Results", class: "btn btn-primary", id: "intake-form-submit-button" %>
  <% end %>
</div>
